<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <header th:fragment="header">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <span class="navbar-text">Simple navbar made with Bootstrap</span>
            </div>
        </nav>
    </header>


    <footer class="footer navbar-fixed-bottom" th:fragment="footer">
        <div class="container">
            <span class="text-muted">&copy; 2021 example.com</span>
        </div>
    </footer>

</body>
</html>